.modal-win {
	width: 100%;
	position: relative;
	max-width: rem(500);

	padding: rem(24) rem(16)!important;
	@include media-breakpoint-up(sm){
		padding: rem(24)!important;
	}

	&--big{
		max-width: rem(1272);
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}

	//
	.form-wrap{
		&__row{
			--bs-gutter-x: #{rem(24)};
			--bs-gutter-y: #{rem(12)};
		}
		&__input-wrap{}
		&__input{}
		&__btn{
			@extend .btn;
			@extend .btn-primary;

			font-weight: bold;
			font-size: rem(14);
			line-height: (24/14);
			@include media-breakpoint-up(md){
				min-width: rem(156);
			}
		}

		&__options{
			columns: 2;
			@include media-breakpoint-up(sm){
				columns: 2;
			}
			@include media-breakpoint-up(md){
				columns: 3;
			}
			@include media-breakpoint-up(lg){
				columns: 4;
			}
			@include media-breakpoint-up(xl){
				columns: 5;
			}
			@include media-breakpoint-up(xxl){
				columns: 6;
			}
			a{
				display: block;
				text-decoration: none;
				font-weight: 500;

				font-size: rem(13);
				@media (min-width: 350px) {
					font-size: rem(14);
				}
				line-height: (17/14);

				margin-bottom: rem(5);
				@include media-breakpoint-up(xxl){
					margin-bottom: rem(11);
				}

				color: $blue2;
				&:hover{
					color: $primary;
				}

				&.active{
					color: $primary;
					text-shadow: 0 0 .7px rgba($primary, .8);
				}
			}
		}
		&__{}
	}

}