mixin modal()
	//  start modals
	+b.modal-win--big.link-modal-js(id="modal-city" class=" " style="display: none")
		+form-wrap
			+e.row.row.pb-4
				.col-sm
					+input('Выбирете свой город', 'text')
				.col-sm-auto
					+e.btn(href="#") Выбрать
			+e.options
				- for (var i = 0; i < 24; i++)
					a(href="#") Москва
					a(href="#") Санкт-Петербург
					a(href="#") Нижний Новгород
					a(href="#") lalalal
	// #modal-call
	
	// end modals