// start .headerBlock
.headerBlock {
	--sPT: #{rem(24)};
	--sPB: #{rem(24)};
	--sTPB: #{rem(24)};

	position: relative;
	z-index: 1;
	&__bg{
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__row{
		--bs-gutter-x: #{rem(24)};
		--bs-gutter-y: #{rem(24)};
	}
	&__item{
		display: flex;
		align-items: flex-end;
		padding: rem(24);

		width: 100%;
		height: 0;
		position: relative;
		z-index: 1;

		min-height: rem(144);
		border-radius: rem(8);
		overflow: hidden;

		//
		font-weight: bold;
		font-size: rem(18);
		line-height: (24/18);
		color: $white;
		&:hover{
			color: rgba($white, .8);
		}
		text-decoration: none;

		&:after{
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		&.blue{
			&:after{
				background: linear-gradient(90deg, #287EFF 0%, rgba(40, 126, 255, 0) 100%);
			}
		}
		&.green{
			&:after{
				background: linear-gradient(90deg, #1ECBCB 0%, rgba(30, 203, 203, 0) 100%);
			}
		}
	}
	&__img{
		position: absolute;
		z-index: -2;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__txt{

	}
	&__{}
	&__{}
}

// end.headerBlock