extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sRepair/_sRepair.pug
include ../blocks/sBrends/_sBrends.pug
include ../blocks/sCalc/_sCalc.pug
include ../blocks/sSeo/_sSeo.pug
include ../blocks/sCerts/_sCerts.pug
include ../blocks/sMap/_sMap.pug
include ../blocks/sTags/_sTags.pug
include ../blocks/sUsefull/_sUsefull.pug
include ../blocks/sCall/_sCall.pug
include ../blocks/sTech/_sTech.pug
include ../blocks/sPrice/_sPrice.pug

block variables
	- let  mainPage= null
	- let  bg= '01.png'

block title
	- let  title= '01-types'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
		+bot-nav()
	+headerBlock()
	+b.page-head
		.container
			+breadcrumb('Главная', 'Ремонт бензиновых генераторов')
			+e.title-row.row
				.col
					+b.section-title.pb-0
						h1
							| Ремонт бензиновых
							br
							| генераторов
			+e.row.row
				+e.sidebar-col.col-lg-3
					+e.sidebar
						+e.s-item--toggle.sidebar-toggle-js.d-lg-none
							span Виды ремонта
						+e.sidebar-content.sidebar-content-js
							+e.s-item.active(href="#") Ремонт бензогенераторов
							+e.s-item(href="#") Ремонт триммеров
							+e.s-item(href="#") Ремонт бензопил
							+e.s-item(href="#") Ремонт бензорезов
							+e.s-item(href="#") Ремонт виброплит
							+e.s-item(href="#") Ремонт газонокосилок
							+e.s-item(href="#") Ремонт двигателей
							+e.s-item(href="#") Ремонт культиваторов
							+e.s-item(href="#") Ремонт лодочных моторов
							+e.s-item(href="#") Ремонт мотоблоков
				.col-lg-9
					+sTags()
					+sUsefull()
					+sCall()
					+sBrends({
						addClasses: 'sBrends--inBox',
						addContClasses: 'p-0',
						title: 'Производители бензиновых генераторов',
					})
					+sTech()
					+sPrice({
						title: 'Cтоимость ремонта бензиновых генераторов Stihl',
					})
					+sCalc({
						title: 'Расчёт стоимости ремонта',
					})(class="sCalc--gray")
					+sMap({
						addClasses: 'sMap--in-box sMap--last-section',
						title: 'Сервисные центры Stihl',
					})
	+footer()