extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sRepair/_sRepair.pug
include ../blocks/sBrends/_sBrends.pug
include ../blocks/sCalc/_sCalc.pug
include ../blocks/sSeo/_sSeo.pug
include ../blocks/sCerts/_sCerts.pug
include ../blocks/sMap/_sMap.pug
include ../blocks/sUsefull/_sUsefull.pug

block variables
	- let  mainPage= null 
	- let  bg= 'index.png'

block title
	- let  title= 'index'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
		+bot-nav()
	+headerBlock()
	+sRepair()
	+sBrends({
		addSectinTitleClasses: 'text-center',
		title: 'Обслуживаемые марки',
	})
	+sCalc({
		title: 'Расчёт стоимости ремонта',
	})
	+sSeo()
	+sCerts()
	+sMap({
		addClasses: '',
		title: 'Сервисные центры',
	})
	+footer()