mixin sRepair(data)
	// start sRepair
	+b.SECTION.sRepair.section#sRepair&attributes(attributes)
		.container
			+b.section-title.text-center
				h1
					| Ремонт садовой техники
					br
					| и инструмента
			+e.chb-row.row.justify-content-center
				+sRepairChbItem('Все')(checked)
				+sRepairChbItem('Электроинструмент')
				+sRepairChbItem('Бензоинстумент')
			+e.row.row
				+sRepairItem(1, 'Комбисистема')
				+sRepairItem(2, 'Подметальные машины')
				+sRepairItem(3, 'Резчики')
				+sRepairItem(4, 'Культиваторы')
				+sRepairItem(5, 'Воздуходувки')
				+sRepairItem(6, 'Садовые трактора')
				+sRepairItem(7, 'Опрыскиватели и распылители')
				+sRepairItem(8, 'Бензобуры')
	// end sRepair

mixin sRepairChbItem(txt)
	.col-auto
		+e.LABEL.chb-label
			input(type="checkbox" name=txt class='invisible')&attributes(attributes)
			span.c-btn=txt

mixin sRepairItem(imgNum, txt)
	.col-sm-6.col-lg-3
		+e.item(href="#")
			+e.i-img
				img(loading="lazy" src=`img/@2x/sRepair-${imgNum}.jpg` alt="")
			+e.txt=txt

