mixin sTags(data)
	// start sTags
	+b.sTags#sTags&attributes(attributes)
		+e.slider-wrap.sTags-slider-wrap-js
			.swiper-container.sTags-slider-js
				.swiper-wrapper
					-for(var i=0; i < 2; i++)
						+sTagsSlide('Электроинструмент')
						+sTagsSlide('Опрыскиватели и распылители')
						+sTagsSlide('Пылесосы')
						+sTagsSlide('Инструмент для работы в лесу')
						+sTagsSlide('Цепные')
						+sTagsSlide('Опрыскиватели и распылители')
						+sTagsSlide('Пылесосы')
						+sTagsSlide('Инструмент для работы в лесу')
			+arrow()
			+e.close-btn.sTags-close-btn-js
				+icon('cross')
		+e.show-all.sTags-show-btn-js
			span Показать все
			span Скрыть
		+e.txt-box
			p Выполняем ремонт бензогенераторов, предлагаем выезд, доставку и бесплатную диагностику, большой выбор запчастей и расходных материалов. Ремонтируем бензиновые генераторы любых производителей, все работы выполняются строго по нормативам изготовителей, что полностью исключает повторный выход из строя агрегата. На все выполненные услуги и установленные комплектующие выдается гарантия от трех месяцев.
		+e.img-row.row
			+sTagsImgItem(1)
			+sTagsImgItem(2)
			+sTagsImgItem(3)
		+e.txt-box
			p Вы всегда можете пригласить специалиста на ремонт бензогенераторов в Москве и всей Московской области, наши специалисты выезжают в любое удобное для вас время. Большинство неисправностей устраняются на месте, если же поломка критична мы готовы предложить доставку бензинового генератора в мастерскую. Для оформления заявки позвоните по телефону или оставьте контакты на сайте. Наши мастера выезжают ежедневно в независимости от праздников и выходных дней.
	// end sTags
mixin sTagsImgItem(imgNum)
	.col-md-4
		+e.img
			img(loading="lazy" src=`img/@2x/sTags-${imgNum}.jpg` alt="")


mixin sTagsSlide(tagTxt)
	.swiper-slide
		+e.tag(href='#')=tagTxt