// start .sCerts
.sCerts {
	--sPT: #{rem(51)};
	--sPB: #{rem(48)};
	--sTPB: #{rem(48)};

	.section-title{
		h2{

		}
	}
	&__slider-wrap{
		.swiper-container{
			overflow: visible!important;
		}
		.swiper-wrapper{

		}
		.swiper-slide{
			width: 192px;
			@include media-breakpoint-up(md){
				width: calc(100%/4 - 24px*3/4);
			}
			@include media-breakpoint-up(xl){
				width: calc(100%/5 - 24px*5/6);
			}
			@include media-breakpoint-up(xxl){
				width: calc(100%/6 - 24px*5/6);
			}

			box-shadow: 0 0 8px 1px rgba(80, 87, 105, 0.05);
		}
	}
	&__img{
		@extend .accept-ratio-frame;
		padding-top: (272/192) * 100%;
	}
	&__{}
	&__{}
	&__{}
	&__{}
} // end.sCerts