mixin sSeo(data)
	// start sSeo
	+b.SECTION.sSeo.section#sSeo&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 CEO текст о ремонте
			+e.txt-row.row
				.col-lg-6
					p Вы всегда можете пригласить специалиста на ремонт бензогенераторов в Москве и всей Московской области, наши специалисты выезжают в любое удобное для вас время. Большинство неисправностей устраняются на месте, если же поломка критична мы готовы предложить доставку бензинового генератора в мастерскую. Для оформления заявки позвоните по телефону или оставьте контакты на сайте. Наши мастера выезжают ежедневно в независимости от праздников и выходных дней.
				.col-lg-6
					p Вы всегда можете пригласить специалиста на ремонт бензогенераторов в Москве и всей Московской области, наши специалисты выезжают в любое удобное для вас время. Большинство неисправностей устраняются на месте, если же поломка критична мы готовы предложить доставку бензинового генератора в мастерскую. Для оформления заявки позвоните по телефону или оставьте контакты на сайте. Наши мастера выезжают ежедневно в независимости от праздников и выходных дней.
			+e.img-row.row
				+sSeoImgItem(1)
				+sSeoImgItem(2)
				+sSeoImgItem(3)
	// end sSeo

mixin sSeoImgItem(imgNum)
	.col-md-4
		+e.img(href=`img/@2x/sSeo-${imgNum}.jpg` data-fancybox='sSeoGalery')
			img(loading="lazy" src=`img/@2x/sSeo-${imgNum}.jpg` alt="")