//- WP menu
mixin mnu()
	-
		var nav= { 
			"О компании":"#",
			"Статьи про ремонт техники":"#",
			"Условия приема техники":"#",
			"Oплата и доставка":"#",
			"Юридическим лицам":"#",
			"Контакты":"#",
			}
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName

//- menu

//- WP menu
mixin mnu2()
	-
		var nav = {
			"Обслуживаемые марки": "#",
			"Техническое обслуживание": "#",
			"Сервисные центры": "#",
		}
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName